@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var price = 212;
}
 <div>It's monthly learning view</div>
@{
    if(price == 200)
    {
        <div>It's two hundred</div>
    }
    else
    {
        <div>It's not two hundred</div>
    }
}



